@charset "UTF-8";

body {
    background-color: rgb(169, 161, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
}


#btjogar {
    display: none;
    
}
#exibe {
    display: inline;
margin-top: 12px;
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.274);
    font-family: monospace;
}
.container-fluid {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 7px 9px rgba(0, 0, 0, 0.212);
    
    max-width: 800px;
    min-width: 320px;
    padding: 12px;
    margin-top: 12px;
}
#btaposta {
    margin-top: 12px;
}



